#heading{
    display: grid;
    place-content: center;
    margin: 10px;
    margin-top: 2em;
}

#heading h4{

    background-color: teal; 
    color: whitesmoke;
    box-shadow: -1px 4px 20px 6px rgba(0, 0, 0, 0.75) ;   

}


#paragraph{
        
    background-color: #4b084d;
    margin-top: 2em;
    color: whitesmoke;
    display: flex;


}

p{
    display: grid;
    place-content: center;
    margin: 2vh;
    height: 33vh ;
    width: 33vh;
    background-color: teal;
    box-shadow: -1px 4px 20px 6px rgba(0, 0, 0, 0.75) ;   
}