<div class="container-non">
 <h4>  WELCOME TO NONLOGIN </h4>
 <br><br><br>

 <div class="paragraph">
    <p>
        Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Sint et atque labore distinctio
        quibusdam esse! Praesentium illo quaerat repellat
        amet magnam nam earum.
        Quo non sint tempora deleniti debitis error?
    </p>
    <p>
        Lorem ipsum dolor sit
        amet consectetur adipisicing elit. 
        Totam, quam iste! Aut totam pariatur 
        doloremque sequi dolores praesentium, 
        quasi fugit harum voluptates quibusdam quis. 
        Magnam autem assumenda iste beatae reiciendis?
    </p>

 </div>
</div>
