.row{
    margin:2em;
}

.col-sm-8{
    color:teal;
    margin-bottom: 2em;

}

.col-sm-4{
    color: teal;
    display: grid;
    place-content: center;
}



form{
    color: whitesmoke;      
    display: grid;
    place-content: center ;
    margin-left: 1em;
    background-color: #212529;
    height: 38vh;
    width: 35vh;
    box-shadow: -1px 4px 20px 6px rgba(0, 0, 0, 0.75) ;
  
}

.form-group{
    margin-top: 2vh;

}

button{
    background-color: teal;
}

.btn .btn-primary{
    margin-top: 2vh;
}

ul{
    list-style-type: none;
  margin: 10px;
  padding: 10px;
}

li{
    padding: 5px ;
}

#right{

    display: grid;
    place-content: center;

}

.col .align-self-center{
    display: grid;
    place-items: center;
    margin-left: 1em   ;
}