<div class="row">
    <div class="col-sm-6">
        <form [formGroup="details_form"]>
            <input type="name" class="form-control" 
            id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="name">
            
            <input type="email" class="form-control" 
            id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="gender">
            
            <input type="email" class="form-control" 
            id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
            


        </form>
    </div>
    <div class="col-sm-4">    
    </div>
    
</div>