<app-navbar> </app-navbar>

<div class="row">

    <!--injecting code from navbar-->
    
    
    <!--Heading for each page-->

    <div class="container">
        <div class="logo-app" >
            <img src="../assets/logo_sample2.png" 
            alt="logo"
            height="100px"
            width="130px">
        </div>
  
        <div class="heading">
            <h2>SHORT TASK </h2>
        </div>
         
    </div>
    
    <div class="col-sm-11">
        <router-outlet></router-outlet>
    </div>

</div>
