*{
  margin: 0px;  
}

.container{
    display: flex;
    align-items: center;

}

.logo-app{
    display: flex;
    align-items: center;
}

.heading{
    display: flex;
    align-items: center;
}


.col-sm-11  {
    display: grid;
    place-items: center;
    margin-top: 5vh;
    margin-left: 5vh ;
    background-color: #4b084d;
    box-shadow: -1px 4px 20px 6px rgba(0, 0, 0, 0.75) ;
    height: 150%;
    min-height: 70vh;
    width: 140vh;
}




