<div class="row">
    <div class="col-6 col-sm-3">
        <p class="lead"> 
            Lorem ipsum dolor sit
            amet consectetur adipisicing elit. 
            Totam, quam iste! Aut totam pariatur 
            doloremque sequi dolores praesentium, 
            quasi fugit harum voluptates quibusdam quis. 
            Magnam autem assumenda iste beatae reiciendis?</p>
    </div>
    
    <div class="col-6 col-sm-4"></div>
    <div class="col-6 col-sm-4" id="weather">
            <h5>Weather Data</h5>
            <ul>
                <li>
                    Temp:  {{ temperature}}C  
                </li>
                <li>
                    Wind Speed:   {{ windSpeed}} kmph
                </li>
                <li>
                    Humidity:   {{ humidity}} hg
                </li>
                
            </ul>
    </div>
  </div>
