
.row{
        
    background-color: #4b084d;
    margin-top: auto;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

#weather{
    
    margin-left: 1em;
    background-color: teal;      
    display: flex;
    flex-direction: column;
    background-color: teal;
    height: 24vh;
    width: 38vh ;
    box-shadow: -1px 4px 20px 6px rgba(0, 0, 0, 0.75) ;
}

p{
        margin-left: auto;
    display: flex;
    flex-direction: column;
    background-color: teal;
    height: 25vh;
    width: 50vh;
    box-shadow: -1px 4px 20px 6px rgba(0, 0, 0, 0.75) ;
    
}
