 <div class="jumbotron">
    <div class="weather">  
        <h5>Weather Data</h5>
        <ul>
            <li>
                Temp:  {{ temperature}}
            </li>
            <li>
                Wind Speed:   {{ windSpeed}}
            </li>
            <li>
                Humidity:   {{ humidity}}
            </li>
            <li>
                Air Quality:    {{airQuality}}
            </li>
        </ul>
    </div>
    <p class="lead"> 
        Lorem ipsum dolor sit
        amet consectetur adipisicing elit. 
        Totam, quam iste! Aut totam pariatur 
        doloremque sequi dolores praesentium, 
        quasi fugit harum voluptates quibusdam quis. 
        Magnam autem assumenda iste beatae reiciendis?</p>
</div>