
    
  
  <div class="row" id="heading" >
    <div class="col-6 col-md-4"></div>
    <div class="col-6 col-md-4"><h3> I AM HOME</h3></div>
    <div class="col-6 col-md-4"></div>
  </div>
  
  

<div class="row" id="clickables">
    <div class="col-sm-4">    
        <button type="button" class="btn btn-secondary" routerLink="/nonlogin">NON-LOGIN PAGE</button>
    </div>    
    <div class="col-sm-4"></div>     
    <div class="col-sm-4">   
        <button type="button" class="btn btn-secondary" routerLink="/login" >LOGIN PAGE</button>
    </div>
</div>    