*{
    color: whitesmoke;
    
}

#heading{
    margin-top: -100px ;
}

#clickables{
    margin-top: 100px;
}

.container{
    display: grid;
    place-content: center;    
}

.row .h3{
    display: flex;
    align-items: center;

}

.col-sm-4{
    display: flex;
    align-items: center;
    margin-top: 1em;    
}

.btn {
    width: 15em;
    height: 3em;
    background-color: teal;
}

