*{
    color: whitesmoke;
    
}


.container-home{
    display: grid;
    place-content: center;    
}

.h3{
    display: flex;
    align-items: center;


}

.clickables{
    display: flex;
    align-items: center;
    
}


